{% load crispy_forms_tags %}

<form method="get" action="{{ submit_url }}" id="filter-form" class="row">
    <div class="col-8">
        {% if search_field_name %}
            {% for field in  filter.form %}
                {% if field.html_name == search_field_name %}
                    <div class="search-field">
                        {{ field | as_crispy_field }}
                        <button type="submit" class="btn btn-outline-secondary search-btn">
                            <span class="material-symbols-outlined fs-4">search</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-outline-secondary ms-auto d-none position-relative" data-bs-toggle="modal"
                data-bs-target="#filter-modal">
            <span class="material-symbols-outlined">tune</span>
            <span id="bound-filter-badge" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle d-none">
                <span class="visually-hidden">You have active filters</span>
            </span>
        </button>
    </div>

    <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog">
    <!-- The modal holds the other filter fields except the search field -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-6">Filter</h5>
                    <button type="button" class="close btn fs-5" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field in filter.form %}
                        {% if field.html_name != search_field_name %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-outline-secondary me-3" onclick="clear_filters();">
                            Clear
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    const filter_form = document.getElementById("filter-form");
    const filter_modal = filter_form.querySelector("#filter-modal");
    const search_field = filter_form.querySelector(".search-field input");
    const bound_filter_badge = filter_form.querySelector("#bound-filter-badge");
    const filter_modal_toggler = filter_form.querySelector("[data-bs-target='#filter-modal']");

    search_field.placeholder = "{{ search_field_placeholder }}";

    function clear_filters() {
        filter_form.reset();
        document.location.href = filter_form.getAttribute("action");
    }
    function show_filter_modal_toggler() {
        const modal_has_filters = filter_modal.querySelector("input") || filter_modal.querySelector("select");
        if (modal_has_filters) filter_modal_toggler.classList.remove("d-none");
        const filters = Array.from(filter_modal.querySelectorAll("input")).concat(Array.from(filter_modal.querySelectorAll("select")));
        const is_bound_filter = (filter) => {
            const doc_location = new URL(document.location.href);
            const search_params = new URLSearchParams(doc_location.search);
            return search_params.has(filter.getAttribute("name"));
        }
        if(filters.some(is_bound_filter)) bound_filter_badge.classList.remove("d-none");
    }

    show_filter_modal_toggler();
    legitsystems_utils.remove_form_empty_values_on_submit(filter_form);

    const filter_styles = `
    #filter-form select.form-control:not([size]):not([multiple]) {
        height: 30px;
        font-size: 13px;
        border-radius: 0;
    }
    .search-field {
        --bg-color: #ECECEC;
        display: flex;
        align-items: center;
        border: 1px solid var(--bg-color);
        border-radius: 8px;
        padding: 4px;
        background-color: var(--bg-color);
    }
    .search-field > div {
        margin-bottom: 0 !important;
        flex: 1 1 auto;
    }
    .search-field label {
        display: none;
    }
    .search-field input, .search-btn {
        border: none;
        background-color: var(--bg-color);
    }
    .search-field input:focus {
        box-shadow: none;
        outline: 0 none;
        background-color: var(--bg-color);
    }
    .search-btn {
        background-color: #fff;
        color: #6c757d;
    }
    .search-btn:hover, .search-btn:focus {
        background-color: #0d6efd;
        color: white;
    }`;
    document.addEventListener("DOMContentLoaded", function () {
       legitsystems_utils.inject_styles(filter_styles);
    });
</script>
