{% load humanize %}
{% load access_controls %}
{% if meters %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td class="h-table-column-header">Meter</td>
                {% onlyadmins %}
                <td class="h-table-column-header">Manager</td>
                {% endonlyadmins %}
                <td class="h-table-column-header">Vendor</td>
                <td class="h-table-column-header">Registered</td>
                <td class="h-table-column-header">Due Fees</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for meter in meters %}
                {% with meter_id=meter.id %}
                    <tr class="{% if not meter.is_active %} table-warning {% endif %}">
                        <td class="h-table-cell">{{ meter.meter_number }}</td>
                        {% onlyadmins %}
                        <td class="h-table-cell">{{ meter.manager_full_name }}</td>
                        {% endonlyadmins %}
                        <td class="h-table-cell">{{ meter.vendor_name }}</td>
                        <td class="h-table-cell">
                            {% if meter.is_registered_with_vendor %}
                                {% include "core/components/success.html" %}
                            {% else %}
                                {% include "core/components/failure.html" %}
                            {% endif %}
                        </td>
                        <td class="h-table-cell h-table-number-cell">UGX {{ meter.due_fees|intcomma }}</td>
                        <td class="d-flex">
                            {% onlyadmins %}
                            <a href="#" data-href="{% url 'meter_update' pk=meter_id %}" title="Edit meter" class="me-4"
                               data-bs-toggle="modal" data-bs-target="#meter-update-modal" data-preinit="form"
                               data-initial="{{ meter.as_json }}">
                                <span class="material-symbols-outlined text-secondary">edit</span>
                            </a>
                            {% if not meter.is_registered_with_vendor %}
                                <a href="{% url 'register_meter_with_vendor' pk=meter_id %}" title="Register with vendor" class="me-4">
                                    <span class="material-symbols-outlined text-secondary">business_center</span>
                                </a>
                            {% endif %}
                            {% endonlyadmins %}

                            <a href="#" data-href="{% url 'meter_recharge' pk=meter_id %}" title="Recharge meter"
                               class="me-4" data-bs-toggle="modal" data-bs-target="#meter-recharge-modal"
                               data-initial="{{ meter.get_recharge_info }}" data-preinit="form">
                                <span class="material-symbols-outlined text-secondary">bolt</span>
                            </a>

                            {% onlyadmins %}
                            {% if meter.is_active %}
                                <span class="form-check form-switch">
                                    <input class="form-check-input toggle-meter-state" type="checkbox" role="switch" checked data-href="{% url 'meter_deactivate' pk=meter_id %}">
                                </span>
                            {% else %}
                                <span class="form-check form-switch">
                                    <input class="form-check-input toggle-meter-state" type="checkbox" role="switch" data-href="{% url 'meter_activate' pk=meter_id %}">
                                </span>
                            {% endif %}
                            {% endonlyadmins %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="d-flex justify-content-center mt-5">
        <span class="text-muted fs-5">No meters found</span>
    </div>
{% endif %}
<script>
    // Listen to click events on activation switches and redirect to respective url
    document.querySelectorAll(".toggle-meter-state").forEach(function(element) {
       element.addEventListener("click", function(event) {
           document.location.href=event.target.getAttribute("data-href");
       });
    });
</script>