{% load humanize %}

{% if recharge_token_orders %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="h-table-column-header">Order ID</th>
            <th class="h-table-column-header">Delivered</th>
            <th class="h-table-column-header">Placed on</th>
            <th class="h-table-column-header">Amount</th>
            <th class="h-table-column-header">Fee</th>
            <th class="h-table-column-header">Total</th>
            <th class="h-table-column-header">Meter</th>
            <th class="h-table-column-header">Token</th>
            <th class="h-table-column-header">Units</th>
        </tr>
        </thead>
        <tbody>
        {% for order in recharge_token_orders %}
            <tr>
                <td class="h-table-cell h-table-number-cell">{{ order.id }}</td>
                <td class="h-table-cell">
                    {% if order.is_delivered %}
                        <div class="d-inline-block text-bg-success rounded-circle p-1">
                            <span class="material-symbols-outlined fs-5">done</span>
                        </div>
                    {% else %}
                        <div class="d-inline-block text-bg-danger rounded-circle p-1">
                            <span class="material-symbols-outlined fs-5">close</span>
                        </div>
                    {% endif %}
                </td>
                <td class="h-table-cell h-table-number-cell">{{ order.placed_at | date:"D d M Y" }}</td>
                <td class="h-table-cell h-table-number-cell">UGX {{ order.recharge_amount | intcomma }}</td>
                <td class="h-table-cell h-table-number-cell fw-bold">{{ order.applied_fees | intcomma }}</td>
                <td class="h-table-cell h-table-number-cell">UGX {{ order.payment_amount | intcomma }}</td>
                <td class="h-table-cell h-table-number-cell">{{ order.meter_no }}</td>
                <td class="h-table-cell h-table-number-cell fw-bold">{{ order.token_no }}</td>
                <td class="h-table-cell h-table-number-cell fw-bold">{{ order.num_of_units }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="d-flex justify-content-center mt-5">
        <span class="text-muted fs-5">No orders found</span>
    </div>
{% endif %}
