#filter-form select.form-control:not([size]):not([multiple]) {
    height: 30px;
    font-size: 13px;
    border-radius: 0;
}
.search-field {
    --bg-color: #ECECEC;
    display: flex;
    align-items: center;
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    padding: 4px;
    background-color: var(--bg-color);
}
.search-field > div {
    margin-bottom: 0 !important;
    flex: 1 1 auto;
}
.search-field label {
    display: none;
}
.search-field input, .search-btn {
    border: none;
    background-color: var(--bg-color);
}
.search-field input:focus {
    box-shadow: none;
    outline: 0 none;
    background-color: var(--bg-color);
}
.search-btn {
    background-color: #fff;
    color: #6c757d;
}
.search-btn:hover, .search-btn:focus {
    background-color: #0d6efd;
    color: white;
}
