{% extends 'core/layouts/base_navless.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} LOGIN | LEGIT SYSTEMS {% endblock title %}

{% block head %}
{{ form.media }}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock head %}

{% block content %}
<div class="login-card p-3 rounded">
    <div class="text-center mb-3">
        <img src="{% static 'users/img/user.png' %}" width="60" height="60">
    </div>
    <h2 class="login-card__title text-center mb-4">WELCOME BACK</h2>
    {% if form.errors %}
    <div class="alert alert-danger mb-3 login-errors">
        {% for field in form %}
        {% if field.errors %}
        <p>{{ field.errors }}</p>
        {% endif %}
        {% endfor %}

        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-2">
            {{ form.username | as_crispy_field }}
        </div>
        <div class="form-group mb-2">
            {{ form.password | as_crispy_field }}
        </div>
        <div class="form-group text-end mb-2">
            <small><a href="{% url 'password_forgot' %}">Having trouble signing in?</a></small>
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="SIGNIN">
        </div>
    </form>
</div>
{% endblock content %}