{% load crispy_forms_tags %}

<form method="get" action="{{ submit_url }}" id="filter-form" class="row">
    <div class="col-8">
        {% if search_field_name %}
            {% for field in  filter.form %}
                {% if field.html_name == search_field_name %}
                    <div class="search-field">
                        {{ field | as_crispy_field }}
                        <button type="submit" class="btn btn-outline-secondary search-btn">
                            <span class="material-symbols-outlined fs-4">search</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-outline-secondary ms-auto d-none position-relative" data-bs-toggle="modal"
                data-bs-target="#filter-modal">
            <span class="material-symbols-outlined">tune</span>
            <span id="active-filter-badge" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle d-none">
                <span class="visually-hidden">You have active filters</span>
            </span>
        </button>
    </div>

    <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-6">Filter</h5>
                    <button type="button" class="close btn fs-5" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field in filter.form %}
                        {% if field.html_name != search_field_name %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-outline-secondary me-3" onclick="clear_filters();">
                            Clear
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    const filter_form = document.getElementById("filter-form");
    const filter_modal = document.getElementById("filter-modal");
    const search_field = document.querySelector(".search-field input");
    const filter_modal_toggler = document.querySelector("[data-bs-target='#filter-modal']");
    const active_filter_badge = document.querySelector("#active-filter-badge");

    search_field.placeholder = "{{ search_field_placeholder }}";

    function clear_filters() {
        filter_form.reset();
        document.location.href = filter_form.getAttribute("action");
    }
    function show_filter_modal_toggler() {
        const modal_contains_inputs = filter_modal.querySelector("input") || filter_modal.querySelector("select");
        if (modal_contains_inputs) filter_modal_toggler.classList.remove("d-none");
        const inputs = Array.from(filter_modal.querySelectorAll("input")).concat(Array.from(filter_modal.querySelectorAll("select")));
        function bound_input(input) {
            return !!input.value;
        }
        if (inputs.some(bound_input)) active_filter_badge.classList.remove("d-none");
    }
    // Credited to: https://stackoverflow.com/users/1312346/francesco-frassinelli
    // Answered on: https://stackoverflow.com/questions/8029532/how-to-prevent-submitting-the-html-forms-input-field-value-if-it-empty/64029534#64029534
    function remove_form_empty_values_on_submit(form) {
        form.addEventListener('formdata', function(event) {
            let form_data = event.formData;
            for (let [name, value] of Array.from(form_data.entries())) {
                if (value === '') form_data.delete(name);
            }
        });
    }
    show_filter_modal_toggler();
    remove_form_empty_values_on_submit(filter_form);
</script>
