.reset-password-card {
    background-color: #FFFFFF;
    width: 95%;
    max-width: 400px;
    max-height: 450px;
}
.reset-password-card__title {
    font-size: 1.3rem;
    color: #4D4D4D;
}
.reset-password-card__title-support-text {
    color: #595959;
    font-size: .9rem;
}

.back-to-login-link {
    color: #595959;
    font-size: 14px;
}

.reset-password-confirm {
    background-color: #FFFFFF;
    width: 500px;
    max-height: 450px;
}

label {
    color: #999999;
}

.asteriskField {
    display: none;
}

.input-group ~ .invalid-feedback {
    display: block;
}
