{% extends "core/layouts/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} My meters {% endblock title %}

{% block content %}
    {% include "meters/modals/meter_create.html" %}
    {% include "meters/modals/meter_recharge.html" %}
    {% include "meters/modals/meter_update.html" %}

    <div class="container mt-3">

        <div class="row mb-3">
            <h2 class="col-3 my-auto h-table-title">METERS</h2>
            <div class="col">
                {% url "meter_list" as filter_form_submit_url %}
                {% include "core/components/filter_form.html" with submit_url=filter_form_submit_url search_field_name="meter_number" search_field_placeholder="Meter number" %}
            </div>
        </div>
        {% url 'meter_list' as filter_url %}
        {% include "meters/components/meter_list.html"%}

        {% include "core/components/pagination.html" %}
    </div>
{% endblock content %}
